<!doctype html>
<html>
  <head>
    <title>My Chat App</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }

      #privatemessages { list-style-type: none; margin: 0; padding: 0; }
      #privatemessages li { padding: 5px 10px; }
      #privatemessages li:nth-child(odd) { background: #eee; }
    </style>
	<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>
    <h2 align="center">Welcome <%=mobile %> </h2>
    <div style="float:right;margin-right:100px;"><a href="/logout">logout</a></div>
<div style="float:left;width:500px; margin-left:20px; border: 1px solid #000;">
    <h3>Group Chat</h3>
    <ul id="messages"></ul>
<div style=" padding:10px;">
  <form action="" id="group">
<!--<input type="text" placeholder="to user" id="to"><br>-->
    <input id="m" autocomplete="off" placeholder="Message" style="height:20px;"/>
  <button style="background-color:green; height:40px; width:60px; color:#fff">Send</button>
  </form>
</div>
</div>
<div style="float:left;width:500px; margin-left:20px; border: 1px solid #000;">
  <h3>Private Chat</h3>
  <ul id="privatemessages"></ul>
  <div style=" padding:10px;">
<form action="" id="private">
  <input type="text" placeholder="to user" id="to"><br>
      <input id="privatemsg" autocomplete="off" placeholder="Message" style="height:20px;"/>
        <button style="background-color:green; height:40px; width:60px; color:#fff">Send</button>
</form>
</div>
</div>
	<div style="padding-left:20px; border:1px solid #000; width:200px; float:right;margin-right:100px; ">
	<h3>Active Users</h3>
	<ol type="1" id="users"></ol>
	</div>
	<script src="/socket.io/socket.io.js"></script>
<script>
  $(function () {
    var socket = io();
    $('#group').submit(function(){
      socket.emit('group message','<%=mobile %>',$('#m').val());
      $('#m').val('');
      return false;
    });

    $('#private').submit(function(){
      socket.emit('private message','<%=mobile %>',$('#to').val(),$('#privatemsg').val());
      $('#privatemsg').val('');
      $('#to').val('');
      return false;
    });

	/*$('#newuser').submit(function(){
		socket.emit('new user',$('#select_user').val());
		$('#ss').hide();
		return false;
	});*/

	socket.on('new user',function(newuser,chats,personalchat){
    $('#users').html('');
    $('#messages').html('');
    $.each(newuser,function(i,val){
      $('#users').append('<li>'+val+'</li>');
    });
    for(var i=0;i<chats.length;i++)
    {
      $('#messages').append('<li><b style="color:red">'+chats[i].FromUserName+'</b> says -> <b style="color:blue">'+chats[0].Message+'</b></li>');
    }
    for(var j=0;j<personalchat.length;j++)
    {console.log(j);
      $('#privatemessages').append('<li><b style="color:red">'+personalchat[j].FromUserName+'</b> says -><b style="color:brown">'+personalchat[j].ToUser+'</b> <b style="color:blue">'+personalchat[j].Message+'</b></li>');
    }
	});

    socket.on('group message', function(from,msg){
      $('#messages').append('<li><b style="color:red">'+from+'</b> says -> <b style="color:blue">'+msg+'</b></li>');
    });

    socket.on('private message', function(from,to,msg){
      $('#privatemessages').append('<li><b style="color:red">'+from+'</b> says -><b style="color:brown">'+to+'</b> <b style="color:blue">'+msg+'</b></li>');
    });
  });
</script>
  </body>
</html>
